@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
 --width:50vw;
 }
*{
        font-family: 'Lato',serif;
}
:root{
        --width:50vw;
        --br:1rem;
        color: inherit;
}
html{

 background: salmon;
 color: white;
 overflow-x:hidden;
 height: 100%;
}
body{
 display:flex;
 flex-direction: column;
 justify-content: center;
 background: salmon;
 color: white;
 overflow-x:hidden;
}
body{
   display:flex;
   flex-direction:column;
}
h3{
        font-size: 1.5em;
}
#input{
 margin: auto;
 width: var(--width);
 padding: 10px;
 background-color: darkslategray;
 margin-top: 25vh;
 border-radius: 1rem;
 text-transform: capitalize;
}

input{
 width:calc(0.5*var(--width));
 text-transform: capitalize;
 text-align: center;
 width: calc(0.5*var(--width));
}
button{
 background: seashell;
 color: black;
 padding: 10px;
 margin-top: 2%;
 border: none;
 border-radius:0.15rem;
}
#city{
 padding: 10px;
}
#output{
 visibility: hidden;
 font-weight: bold;
 background-color: aquamarine;
 margin: auto;
 width: var(--width);
 margin-top: 2%;
 border-radius: 10px;
 padding: 10px;
 color: black;
}

a{
        color:inherit;
}
footer
{
        margin-top: auto;
        background-color:#444;
        margin:auto;
}


