
*{
        font-family: 'Lato',serif;
}
:root{
        --width:50vw;
        --br:1rem;
}
html{
 height: 100%;
}
body{
        margin: 0;
        padding: 0;
        display:flex;
        flex-direction: column;
        background: #fa8072;
        color: white;
        overflow-x:hidden;
        height:100%;
       }
h3{
        font-size: 1.5em;
        text-align:center;
}
#input{
        display: flex;
        flex-direction: column;
 align-items: center;
 margin: auto;
 margin-top: calc(0.5*50vh);
 width: var(--width);
 padding: 10px;
 background-color: darkslategray;
 border-radius: var(--br);
 text-transform: capitalize;
}

input{
 width:calc(0.5*var(--width));
 text-transform: capitalize;
 text-align: center;
 width: calc(0.5*var(--width));
 background-color: white;
}
button{
 background: seashell;
 color: black;
 padding: 10px;
 border: none;
 border-radius:0.15rem;
}
#city{
 padding: 10px;
}
#output{
        display: flex;
        flex-direction: column;
        align-items: center;
 visibility: hidden;
 font-weight: bold;
 background-color: aquamarine;
 margin: auto;
 width: var(--width);
 margin-top: 2%;
 margin-bottom: 2%;
 border-radius: var(--br);
 padding: 10px;
 color: black;
}

a{
        color:inherit;
        text-decoration: none;
}
footer 
{
        display: flex;
        justify-content: space-between;
        margin-top: auto ;
        padding: 1rem;
        background-color:#444;
}

footer a{
        margin: 0 0.5rem;
}
footer a :last-child
{
        margin: 0 0 0 auto;
}

@media (max-height:650px) {
        #input
        {
                margin:25vh auto 0 auto;
        }
}
::-webkit-scrollbar
{
        width:4px;
        color: transparent;
}
::-webkit-scrollbar-thumb
{
        color:#777;
        border-radius: 0.5rem;
}
p{
        margin: 0;
}
p#place{
        margin-bottom: .5rem;
}
#c,#f{
        margin: 0;
}
label{
        font-size: 1rem;
        font-family: 'Lato',serif;
}
#c,#f,#k{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}
input:checked {
  border: 6px solid black;
}
label {
  margin-right: 15px;
  line-height: 32px;
}
